* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    135deg,
    #041b15 0%,
    #06241c 25%,
    #0b2e24 50%,
    #10352b 75%,
    #154238 100%
  );

  color: #f8fafc;
  font-family: Inter, Arial, sans-serif;
}

.app {
  width: 100%;
  padding: 20px 40px;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: #08a2af;
  margin-bottom: 30px;
  letter-spacing: 1px;
}