.repo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 25px;
}

.repo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.repo-header select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #34d399;
  background: #0f172a;
  color: white;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.load-more-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;

  background: linear-gradient(
    135deg,
    #16a34a,
    #22c55e
  );

  color: white;
  font-weight: 600;

  cursor: pointer;
}

.load-more-btn:hover {
  opacity: 0.9;
}