.repo-card {
  background: rgba(10, 35, 30, 0.9);
  border: 1px solid #1f3a5f;
  border-radius: 14px;
  padding: 22px;
  min-height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.25s ease;
}

.repo-card:hover {
  transform: translateY(-5px);
  border-color: #34d399;
  box-shadow: 0 8px 25px rgba(52, 211, 153, 0.2);
}

.repo-card h3 {
  color: #34d399;
  margin-bottom: 10px;
}

.repo-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.repo-extra {
  margin-top: 15px;
  padding-top: 12px;
  border-top: 1px solid #2e4d44;
}

.repo-extra p {
  margin: 6px 0;
}

.repo-extra a {
  color: #34d399;
  text-decoration: none;
}

.repo-card {
  cursor: pointer;
  position: relative;
}

.expand-tag {
  position: absolute;
  top: 12px;
  right: 12px;

  background: rgba(52, 211, 153, 0.15);
  color: #34d399;

  padding: 4px 8px;
  border-radius: 6px;

  font-size: 11px;
  font-weight: 600;

  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.repo-card:hover .expand-tag {
  opacity: 1;
}

@media (max-width: 768px) {
  .repo-card {
    padding: 16px;
    min-height: auto;
    margin-right: 2.5%;
  }

  .repo-info {
    flex-direction: column;
    gap: 8px;
  }

  .expand-tag {
    display: none;
  }
}

@media (max-width: 400px) {
  .repo-card {
    padding: 16px;
    min-height: auto;
    margin-right:4.5%;
  }
}