.repo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 25px;
}

.repo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.repo-header select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #34d399;
  background: #0f172a;
  color: white;
}